<div class="card">
  <div class="card-body">
    <form>
      <h1>Pessoa</h1>
      <input type="text" placeholder="Nome" class="form-control" />
      <input type="text" placeholder="Cpf" class="form-control" />
      <input
        type="date"
        placeholder="Data de Nascimento"
        class="form-control"
      />
      <h1>Contato</h1>
      <input type="text" placeholder="Nome" class="form-control" />
      <input type="phone" placeholder="Telefone" class="form-control" />
      <input type="email" placeholder="E-mail" class="form-control" />
      <input type="button" value="Cadastrar" class="btn btn-primary" />
    </form>
  </div>
</div>
